.toolbarLayers { }

.toolbarLayers .objectLayers {
	list-style:		 	none;
	padding: 			0;
	margin: 			0 0 15px;
	border-top: 1px solid #909090;
}

.toolbarLayers .objectLayer {
	height: 28px;
	border-bottom: 1px solid #909090;
	cursor: pointer;
}

.toolbarLayers .objectLayer.active {
	background-color : #b5d5ff;
}

.toolbarLayers .objectToggle {
	height: 16px;
	width:  16px;
	text-indent: -9999em;
	overflow: hidden;
	display: block;
	margin: 5px 3px 0;
	float: left;
	border-top: 1px solid #909090;
	border-left: 1px solid #909090;	
	border-bottom: 1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;
	background: url("images/eye.png") no-repeat 50% 50%;	
}

.toolbarLayers .objectLayer.hide .objectToggle {
	background: transparent none;
}

.toolbarLayers .objectThumbContainer {
	float: left;
	width: 30px;
	height: 20px;
	border: 1px solid #000;	
	margin: 3px 3px 0;
	background-color: #fff;
}

.toolbarLayers .objectThumbContainer img {
	height: 20px;
	display: block;
	margin: 0 auto;
}

.toolbarLayers .objectLayerName {
	line-height: 28px;
	text-overflow: ellipsis;
	display: inline-block;
	width: 105px;
	overflow: hidden;
	white-space: nowrap;
}

.toolbarLayers  .wrapperLayerAdd {
	width: 77%;
	margin: 0 5% 0 0;
	float: left;
	position: relative;
}

.toolbarLayers .buttonLayerAdd {
	margin: 0;
}

.toolbarLayers .menuLayerAdd {
 	display: none;
 	position: absolute;
 	left: 0;
 	list-style: none;
 	margin: 0;
 	padding: 0;
 	width: 126px;
 	z-index: 10;
 	margin: 0 0 0 3px;
 	background-color: #ededed;
 	border: 1px solid #a5a5a5;
 	border-width: 0 1px;

}

.toolbarLayers .menuLayerAdd li {
	padding: 5px;
	border-bottom: 1px solid #a5a5a5;
	font-size:10px;	
}

.toolbarLayers .menuLayerAdd li:hover {
	background-color: #b5d5ff;
} 

.toolbarLayers  .wrapperLayerAdd:hover .menuLayerAdd {
	display: block;
}

.toolbarLayers .buttonLayerRemove {
	margin: 0;
	float: left;
}