
// default font sizes
$fontSize:                      12px;
$lineHeight:                    18px;

// prefixes list to us in the prefixer mixin
$prefixes:                      -webkit-, -moz-, -o-, -ms-, '';
