
body						{ background: #bfbfbf url(../img/design/bg.gif) repeat 0 0; font: 11px Arial, Helvetica, sans-serif; }
a 							{ text-decoration: none; color: #CC0000; }
a:hover 					{ text-decoration: underline; }
p { color:#EEEEEE; margin: 0 0 10px; }
form { padding: 0; margin: 0; }
h1 { font-size:19px; color: #fff; line-height: 20px; }
h3 { color:#000; text-transform: uppercase; font-size:10px; font-weight: normal; margin: 0 0 10px; text-align: left; }

.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }
.ecardBuilder { }

.ecardToolbarLeft { float: left; }
.ecardToolbarRight { width: 215px; float: left; }
.ecardToolbarBottom { clear: both; }

.ecardBuilder .ecardViewport{ 
	box-shadow: 2px 2px 2px #adadad;
	background-color: #fff; margin: 0 0 20px 10px; border: 2px solid #999; overflow: hidden; position: relative; float: left; 
}

.ecardBuilder .ecardViewport p {
	margin: 0;
	line-height: 120%;
}

.ecardBuilder .ecardCanvas {
	width: 100%;
	height: 100%;
}

.ecardBuilder .dropArea {
	width: 90%;
	height: 90%;
	position: absolute;
	left: 5%;
	top: 5%;
	border: 2px dashed #999;
	font-size: 25px;
	text-align: center;
	line-height: 500%;
	color: #999;
	background-color: #ccc;
	opacity: 0.8;
	display: none;
}

.ecardBuilder .directions 
{
	border: 1px #ccc solid;
	position: absolute;
}

.ecardBuilder .direction {
	width: 3px;
	height: 3px;
	position: absolute;
	background-color: #fff;
	border: 1px #666 solid;
	margin: -2px 0 0 -2px;
}

.ecardBuilder .buttonPrimary {
	height: 16px;
	background-color: #ededed;
	border: 1px solid #8b8b8b;
	display: block;
	padding: 0 10px;
	line-height: 16px;
	color: #000;
	text-decoration: none;
	font-size:10px;	
	margin: 0 0 20px;
	border-radius: 3px;
}

.ecardBuilder .buttonDisable {
	color: #aeacaa;
	border-color: #b9b9b9;
	background-color: #e4e4e4;
	opacity: 0.7;
}

.ecardBuilder .toolbarModule {
	width: 195px;
	float: left;
	margin: 0 0 10px 10px;
	position: relative;
}

.ecardBuilder .toolbarModule .moduleBody{
 	padding: 10px;
 	border: 1px solid #282828;
 	border-width: 0 1px 1px;
	background-color: #dbdbdb;
	display: none;
}

.ecardBuilder .toolbarModule .moduleBody:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.ecardBuilder .toolbarModule .moduleBody.tabActive 
{
	display: block;
}

.ecardBuilder .toolbarModule h2 {
	background-color: #454545;
	font-size: 11px;
	margin: 0;
	color: #c9c9c9;
	line-height: 20px;
	font-weight: normal;
	text-indent: 10px;
	border: 1px solid #282828;
	border-radius: 5px 5px 0 0;
	text-transform: uppercase;
	height: 11px;
	text-indent: -9999em;
	overflow: hidden;
}

.ecardBuilder .toolbarModule .moduleMenu {
	height: 17px;
	background-color: #8d8d8d;
	list-style: none;
	margin: 0;
	padding: 0;
 	border: 1px solid #282828;
 	border-width: 0 1px 1px;	
}

.ecardBuilder .toolbarModule .moduleMenu a {
	height: 14px;
background: #818181; /* Old browsers */
background: -moz-linear-gradient(top, #9a9a9a 0%, #818181 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9a9a9a), color-stop(100%,#818181)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #9a9a9a 0%,#818181 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #9a9a9a 0%,#818181 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #9a9a9a 0%,#818181 100%); /* IE10+ */
background: linear-gradient(to bottom, #9a9a9a 0%,#818181 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9a9a9a', endColorstr='#818181',GradientType=0 ); /* IE6-9 */
	border-right: 1px solid #5d5d5d;
	display: block;
	padding: 3px 7px 0;
	color: #000;
	text-decoration: none;
	text-transform: uppercase; 
	font-size:10px; 
}

.ecardBuilder .toolbarModule .moduleMenu li {
	float: left;
}

.ecardBuilder .toolbarModule .moduleMenu .tabActive {
	height: 15px;
background: #d6d6d6; /* Old browsers */
background: -moz-linear-gradient(top, #f1f1f1 0%, #d6d6d6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(100%,#d6d6d6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f1f1f1 0%,#d6d6d6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f1f1f1 0%,#d6d6d6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f1f1f1 0%,#d6d6d6 100%); /* IE10+ */
background: linear-gradient(to bottom, #f1f1f1 0%,#d6d6d6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#d6d6d6',GradientType=0 ); /* IE6-9 */
	border-bottom: 0;
}

.ecardBuilder .toolbarModule .moduleMenu .toRight {
	float: right;
}
.ecardBuilder .toolbarModule .moduleMenu .toRight a 
{
	border-left: 1px solid #5d5d5d;
	border-right: 0;
}

.ecardBuilder .toolbarModule .moduleSub { 
	margin-bottom: 10px;
	padding-bottom: 10px; 
	border-bottom: 1px solid #909090; 
	overflow: hidden;
	position: relative;
}

.ecardBuilder .toolbarModule.moduleDisabled .moduleSub
{
	opacity: 0.2;
}


.ecardBuilder .toolbarModule .moduleSub label { display: block; margin: 0 0 10px;}
.ecardBuilder .toolbarModule .moduleSub label:last-child { margin: 0; }


