<div class="imageCreatorTool imageCreatorUIDimensions moduleDisabled">
    <h2 class="moduleTitle"></h2>

    <ul class="moduleMenu">
        <li><a href="#" class="tabActive">Dimensions</a></li>
    </ul>

    <div class="moduleBody">

        <div class="moduleTab tabActive">
            <div class="moduleSub dimensionsScale">
                <h3><i class="foundicon-resize-small"></i> Scale</h3>
                <div class="track">
                    <div class="thumb"></div>
                </div>
                <div class="indicator">100px</div>
            </div>

            <div class="moduleSub dimensionsRotate">
                <h3><i class="foundicon-repeat"></i> Rotate</h3>
                <div class="track">
                    <div class="thumb"></div>
                    <div class="degrees">0</div>
                </div>
            </div>
        </div>

    </div>

</div>
