<div class="imageCreatorTool imageCreatorUIEffects moduleDisabled">
    <h2 class="moduleTitle"></h2>

    <ul class="moduleMenu">
        <li><a href="#" class="tabActive">Effects</a></li>
    </ul>

    <div class="moduleBody">

        <div class="moduleTab tabActive">
            <div class="moduleSub filterType">
                <h3>Filter</h3>
                <label>
                    <select class="filterTypeList">
                        <option class="filterTypeOption" value=""></option>
                    </select>
                </label>
            </div>

            <div class="moduleSub filterStrength">
                <div class="track">
                    <div class="thumb"></div>
                </div>
                <div class="indicator">100%</div>
            </div>

            <div class="moduleSub maskType">
                <h3>Mask</h3>
                <label>
                    <select class="maskTypeList">
                        <option class="maskTypeOption" value=""></option>
                    </select>
                </label>
            </div>
        </div>

    </div>
</div>
