<div class="imageCreatorTool imageCreatorUIFilters moduleDisabled">
    <h2 class="moduleTitle"></h2>

    <ul class="moduleMenu">
        <li><a href="#" class="tabActive">Filters</a></li>
    </ul>

    <div class="moduleBody">

        <div class="moduleTab tabActive">
            <div class="moduleSub filtersType">
                <h3>Type</h3>
                <label>
                    <select class="filtersTypeList">
                        <option value="none">None</option>
                        <option class="filterType" value=""></option>
                    </select>
                </label>
            </div>

            <div class="moduleSub filtersStrength">
                <h3>Strength</h3>
                <div class="track">
                    <div class="thumb"></div>
                </div>
                <div class="indicator">100%</div>
            </div>
        </div>

    </div>
</div>
