<div class="imageCreatorTool imageCreatorToolImage moduleDisabled">
    <h2 class="moduleTitle"></h2>

    <ul class="moduleMenu">
        <li><a class="tabActive" href="#">Image</a></li>
        <li class="toRight"><a href="#">+</a></li>
    </ul>

    <div class="moduleBody tabActive">

        <div class="moduleSub imageZoom">
            <h3>Zoom</h3>
            <div class="indicator">100%</div>
            <div class="track">
                <div class="thumb"></div>
            </div>
        </div>

        <div class="moduleSub imageRotate">
            <h3>Rotate</h3>
            <div class="track">
                <div class="thumb"></div>
                <div class="degrees">0&deg;</div>
            </div>
        </div>

    </div>

    <div class="moduleBody">

        <div class="moduleSub imageCreate">
            <h3>Add image</h3>

            <form method="post" enctype="multipart/form-data" action="temp/upload.processor.php" class="formImageUpload" target="iframeImageUpload">
                <input type="file" class="inputImageUpload" name="inputImageUpload" />
                <input type="hidden" name="MAX_FILE_SIZE" value="3000" />
            </form>
            
            <div class="message"></div>

            <iframe id="iframeImageUpload" name="iframeImageUpload"></iframe>

            <div class="btn btn-success btn-mini buttonImageAdd">Add Image</div>
        </div>

    </div>

</div>
