<div class="imageCreatorTool imageCreatorToolInfo">
    <h2 class="moduleTitle"></h2>

    <ul class="moduleMenu">
        <li><a class="tabActive" href="#">Info</a></li>
    </ul>

    <div class="moduleBody">
        <div class="moduleTab tabActive">

            <div class="moduleSub objectName"></div>    

            <div class="moduleSub objectSize">
                <h3>Size</h3>
                <span class="moduleBodyLabel">Width: <span class="objectSizeWidth">0</span></span>
                <span class="moduleBodyLabel">Height: <span class="objectSizeHeight">0</span></span>
            </div>

            <div class="moduleSub objectPosition">
                <h3>Position</h3>
                <span class="moduleBodyLabel">x: <span class="objectPositionXValue">0</span></span>
                <span class="moduleBodyLabel">y: <span class="objectPositionYValue">0</span></span>
            </div>

            <div class="moduleSub objectRotation">
                <h3>Rotation</h3>
                <span class="moduleBodyLabel">Degrees: <span class="objectRotationValue">0</span></span>
            </div>
            <!--
            <div class="moduleSub objectMobile" style="clear: both;">
                <h3>Pinch test</h3>
                <span class="moduleBodyLabel">Scale: <span class="objectMobileScale">0</span></span>
                <span class="moduleBodyLabel">Rotate: <span class="objectMobileRotate">0</span></span>
            </div>
            -->

        </div>
    </div>
</div>
