<div class="imageCreatorTool imageCreatorUILayers">
    <h2 class="moduleTitle"></h2>

    <ul class="moduleMenu">
        <li><a class="tabActive" href="#">Layers</a></li>
        <li><a href="#">Options</a></li>
    </ul>

    <div class="moduleBody">

        <div class="moduleTab tabActive">

            <p class="emptyMessage">The canvas is currently empty. Please add a text or image layer.</p>

            <ul class="moduleSub layersContainer">
                <li class="layer">
                    <a class="layerToggle" href="#">toggle</a>
                    <div class="layerThumbContainer">
                        <img src="images/layers-text.png" />
                    </div>
                    <span class="layerName"></span>
                    <a class="button tiny alert layerRemove"><i class="foundicon-remove"></i></a>
                </li>
            </ul>
        </div>

        <div class="moduleTab">

            <div class="moduleSub layerSettings">
                <h3>Render engine</h3>
                <label>
                    <select class="selectRenderEngine">
                        <option class="selectRenderEngineItem" value=""></option>
                    </select>
                </label>
            </div>

        </div>

    </div>
</div>
