<div class="imageCreatorTool imageCreatorToolLayers">
    <h2 class="moduleTitle"></h2>

    <ul class="moduleMenu">
        <li><a class="tabActive" href="#">Layers</a></li>
        <li><a href="#">Options</a></li>
    </ul>
    
    <div class="moduleBody">

        <div class="moduleTab tabActive">

            <p class="emptyMessage">The canvas is currently empty. Please add a text or image layer.</p>
            <ul class="moduleSub layerContainer">
                <li class="objectLayer">
                    <a class="objectToggle" href="#">toggle</a>
                    <div class="objectThumbContainer">
                        <img src="images/layers-text.png" />
                    </div>
                    <span class="objectLayerName"></span>
                    <a class="btn btn-danger btn-mini objectRemove">X</a>
                </li>
            </ul>

            <a class="btn btn-success buttonImageSave">Save image</a>
        </div>

        <div class="moduleTab">

            <div class="moduleSub layerSettings">
                <h3>Viewport</h3>
                <label>
                    Render engine
                    <select class="selectRenderEngine">
                        <option class="selectRenderEngineItem" value=""></option>
                    </select>
                </label>
                <label><input type="checkbox" class="inputConstrainLayers"> Constrain layers </label>
                <label><input type="checkbox" class="inputAutoSelectLayer"> Auto-Select layer (svg test)</label>
            </div>  

        </div>

    </div>
</div>
