<svg version="1.2" baseProfile="tiny">
    <defs>
        <!-- xlink:href="#svgSelect" -->
        <animate id="marchingAnts" attributeName="stroke-dashoffset" values="10;0" dur="0.4s" repeatCount="indefinite"></animate>
        <filter color-interpolation-filters="sRGB">
            <feColorMatrix></feColorMatrix>
            <feComposite in2="SourceGraphic" operator="arithmetic" k2="0" k3="1"></feComposite>
        </filter>
    </defs>

    <rect style="fill: transparent; stroke-dasharray: 5,5; stroke-width: 1; stroke:#000000;" vector-effect="non-scaling-stroke" id="svgSelect"></rect>
</svg>