<div class="imageCreatorTool imageCreatorToolText moduleDisabled">
    <h2 class="moduleTitle"></h2>

    <ul class="moduleMenu">
        <li><a class="tabActive" href="#">Text</a></li>
        <li><a href="#">Style</a></li>
        <li><a href="#">Dimensions</a></li>
    </ul>

    <div class="moduleBody">

        <div class="moduleTab tabActive">
            <div class="moduleSub textEdit">
                <textarea class="areaTextEdit"></textarea>
            </div>
        </div>

        <div class="moduleTab">
            <div class="moduleSub textFont">
                <h3>Font</h3>
                <select class="selectTextFont">
                    <option value="Arial">Arial</option>
                    <option value="Bookman Old Style">Bookman Old Style</option>
                    <option value="Comic Sans MS">Comic Sans MS</option>
                    <option value="Courier">Courier</option>
                    <option value="Bonbon">Bonbon</option>
                </select>
                <div class="btn btn-mini buttonTextWeight">T</div>
                <div class="btn btn-mini buttonTextStyle">T</div>
            </div>

            <div class="moduleSub textColor">
                <h3>Color</h3>
                <div class="track"></div>
                <div class="color"><div class="colorInner"></div></div>
                <div class="hex"></div>
            </div>  
        </div>

        <div class="moduleTab">
            <div class="moduleSub textSize">
                <h3>Font size</h3>        
                <div class="track">
                    <div class="thumb"></div>
                </div>
                <div class="indicator">100px</div>  
            </div>

            <div class="moduleSub textRotate">
                <h3>Rotate</h3>
                <div class="track">
                    <div class="thumb"></div>
                    <div class="degrees">0</div>
                </div>
            </div>  
        </div>
    
        <div class="btn buttonTextAdd">Add new text</div>

    </div>

</div>
