<div class="imageCreatorTool imageCreatorUIText moduleDisabled">
    <h2 class="moduleTitle"></h2>

    <ul class="moduleMenu">
        <li><a class="tabActive" href="#">Text</a></li>
    </ul>

    <div class="moduleBody">

        <div class="moduleTab tabActive">
            <div class="moduleSub textFont">
                <h3>Font</h3>
                <select class="textFontSelect">
                    <option value="Arial">Arial</option>
                    <option value="Bookman Old Style">Bookman Old Style</option>
                    <option value="Comic Sans MS">Comic Sans MS</option>
                    <option value="Courier">Courier</option>
                    <option value="Bonbon">Bonbon</option>
                </select>
                <a href="#" class="button small secondary textWeightBtn"><i class="foundicon-bold"></i></a>
                <a href="#" class="button small secondary textStyleBtn"><i class="foundicon-italic"></i></a>

                <a href="#" class="button small secondary textAlignBtn textAlignLeftBtn" data-align="left"><i class="foundicon-align-left"></i></a>
                <a href="#" class="button small secondary textAlignBtn textAlignCenterBtn" data-align="center"><i class="foundicon-align-center"></i></a>
                <a href="#" class="button small secondary textAlignBtn textAlignRightBtn" data-align="right"><i class="foundicon-align-right"></i></a>
            </div>

            <div class="moduleSub textColor">
                <h3>Color</h3>
                <div class="track"></div>
                <div class="color"><div class="colorInner"></div></div>
                <div class="hex"></div>
            </div>

        </div>

    </div>

</div>
