<div class="imageCreatorTool imageCreatorUIText moduleDisabled">
    <h2 class="moduleTitle"></h2>

    <ul class="moduleMenu">
        <li><a class="tabActive" href="#">Text</a></li>
    </ul>

    <div class="moduleBody">

        <div class="moduleTab tabActive">
            <div class="moduleSub textFont">
                <h3>Font</h3>
                <select class="textFontSelect">
                    <option value="Arial">Arial</option>
                    <option value="Bookman Old Style">Bookman Old Style</option>
                    <option value="Comic Sans MS">Comic Sans MS</option>
                    <option value="Courier">Courier</option>
                    <option value="Bonbon">Bonbon</option>
                </select>
                <div class="btn btn-mini textWeightBtn">B</div>
                <div class="btn btn-mini textStyleBtn">I</div>

                <div class="btn btn-mini textAlignBtn textAlignLeftBtn" data-align="left"><span></span></div>
                <div class="btn btn-mini textAlignBtn textAlignCenterBtn" data-align="center"><span></span></div>
                <div class="btn btn-mini textAlignBtn textAlignRightBtn" data-align="right"><span></span></div>

            </div>

            <div class="moduleSub textColor">
                <h3>Color</h3>
                <div class="track"></div>
                <div class="color"><div class="colorInner"></div></div>
                <div class="hex"></div>
            </div>

        </div>

    </div>

</div>
