.ecardBuilder .textSize .track { 
	background: 	#cdcdcd; 
	height: 		4px;
	width: 			140px;
	margin: 		0 0 5px; 
	border-radius: 5px;
	border: 1px solid #aeaeae;
	border-top: 1px solid #747474;
	position: 		relative; 
}
.ecardBuilder .textSize .thumb { 
	background: 	transparent url(images/text-zoom-thumb.png) no-repeat 0 0; 
	height: 		10px; 
	width:			10px; 
	position: 		absolute; 
	left:			0; 
	top:			-4px; 
	cursor: 		pointer; 
}
.ecardBuilder .textSize .indicator 
{
	font-size: 		10px; 
	float: 			right; 
	margin:			-3px 0 0;
}

.ecardBuilder .textColor .track { 
	background: 	transparent url(images/text-color.png) no-repeat 0 0; 
	height: 		83px; 
	width: 			83px; 
	position: 		relative; 
	cursor:			crosshair;
	float: 			left;
}

.ecardBuilder .moduleDisabled .textColor .track {
	opacity: 0.5;
}

.ecardBuilder .textRotate .track { 
	background: 	transparent url(images/text-rotate-track.png) no-repeat 0 0; 
	height: 		83px; 
	width: 			83px; 
	position: 		relative; 
}
.ecardBuilder .textRotate .thumb { 
	background: 	transparent url(images/text-zoom-thumb.png) no-repeat 0 0; 
	height: 		10px; 
	width: 			10px; 
	position:		absolute; 
	margin:			-5px 0 0 -5px; 
	top:			8px; 
	left: 			42px; 
	cursor: 		pointer; 
}
.ecardBuilder .textRotate .degrees{ 
	font-size: 		10px; 
	position:		absolute;
	left: 			50%; 
	top: 			50%; 
	width: 			20px; 
	line-height: 	14px; 
	text-align: 	center; 
	margin:			-7px 0 0 -10px;
}

.ecardBuilder .textColor .hex { 
	float: left;
	font-size: 10px;
	margin: 0 0 0 5px;
}

.ecardBuilder .textColor .color { 
	width: 10px;
	height: 10px;
	float: left;
	border-radius: 10px;
	border: 1px solid #8b8b8b;
}

.ecardBuilder .moduleDisabled .color,
.ecardBuilder .moduleDisabled .hex {
	display: none;
}

.ecardBuilder .selectTextFont {
	width: 57%;
	float: left;
	margin: 0 5% 0 0;
}

.ecardBuilder .buttonTextBold {
	float: left;
	font-weight: bold;
	margin: 0 5% 0 0;
}

.ecardBuilder .buttonTextItalic {
	float: left;
	margin: 0;
	font-style: italic;
}