@import url(http://fonts.googleapis.com/css?family=Bonbon);

.tempfontpreploadtest {
    font-family: "bonbon";
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 1px;
}

.noSelect { 
    user-select: none; 
    -o-user-select: none; 
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
}


.imageCreatorToolbar {
    height: 50px;
}

.imageCreatorViewport { 
    background-color: rgb(255, 255, 250);
    overflow: hidden; 
    position: relative; 
    box-shadow: 0px 2px 7px rgba(0,0,0,0.3); 
}

.imageCreatorViewport p { 
    margin: 0; 
    padding: 0;
    white-space: nowrap;
}

.imageCreatorViewport .imageCreatorCanvas {
    width: 100%; 
    height: 100%; 
}

.imageCreatorViewport .dropArea {
    width: 90%;
    height: 90%;
    position: absolute;
    left: 5%;
    top: 5%;
    border: 2px dashed #999;
    font-size: 25px;
    text-align: center;
    line-height: 500%;
    color: #999;
    background-color: #ccc;
    opacity: 0.8;
    display: none;
}

.imageCreatorMessage{
    position: absolute;
    height: 50px;
    background-color: #dbdbdb;
    width: 100%;
    right: 0;
    top: 0;
    display: none;
}

.imageCreatorMessage .imageCreatorMessageInner {
    font: 10px/50px Arial, Helvetica, sans-serif;
    padding: 0 20px;
}

.imageCreatorMessage .imageCreatorMessageClose {
    display: none;
    width: 20px;
    height: 20px;
    background-color: #8d8d8d;
    position: absolute;
    right: 20px;
    top: 50%;    
    margin: -10px 0 0 0;
    font: 10px/20px Arial, Helvetica, sans-serif;
    text-align: center;
    cursor: pointer;
}

.imageCreatorMessage.loading {
    background: #dbdbdb url(../images/loader.gif) no-repeat 10px 50%;
}

.imageCreatorMessage.loading .imageCreatorMessageInner {
    padding: 0 10px 0 55px;
}

.imageCreatorMessage.error .imageCreatorMessageClose {
    display: block;
}

.imageCreatorCanvas image,
.imageCreatorCanvas text, 
.imageCreatorCanvas tspan, 
.imageCreatorCanvas .vmlObject,
.imageCreatorCanvas .vmlObject p {
    cursor: pointer;
}

.imageCreatorCanvas .editing {
    display: none;
}

.imageCreatorCanvas #svgSelect,
.imageCreatorCanvas #vmlSelect {
    cursor: url(https://mail.google.com/mail/images/2/openhand.cur), move;
}

.cursorGrabbing #svgSelect,
.cursorGrabbing #vmlSelect { 
    cursor: url(https://mail.google.com/mail/images/2/closedhand.cur), move; 
}

.imageCreatorMeasureText {
    position : absolute;
    white-space : pre;
    left: 0;
    top: 0;
}