.imageCreator .objectPosition { 
	margin: 0 0 10px;
	padding: 0 0 10px; 
	border-right: 1px solid #909090; 
	width: 50%;
	float:left;
}
.imageCreator .objectRotation { 
	padding: 0 0 10px 8%; 
	width: 42%;
	margin: 0 0 0 -1px;
	float:left;
}
.imageCreator .objectName {
	height: 12px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}