/*********************** TOOL : TEXT ***********************/

/* Size */
.imageCreatorToolText .textSize .track { 
    background:     #cdcdcd; 
    height:         4px;
    width:          140px;
    margin:         0 0 5px; 
    border-radius:  5px;
    border:         1px solid #aeaeae;
    border-top:     1px solid #747474;
    position:       relative; 
    float:          left;
    -webkit-user-select: none;
}
.imageCreatorToolText .textSize .thumb { 
    background:     transparent url(../images/text-zoom-thumb.png) no-repeat 50% 50%; 
    height:         40px; 
    width:          40px; 
    position:       absolute; 
    left:           0; 
    top:            -4px; 
    cursor:         pointer;
    margin:         -15px 0 0 -15px; 
}
.imageCreatorToolText .textSize .indicator 
{
    font-size:      10px; 
    float:          left; 
    margin:         -3px 0 0 5px;
}

/* Color */
.imageCreatorToolText .textColor .track { 
    background:     transparent url(../images/text-color.png) no-repeat 0 0;
    height:         83px; 
    width:          83px; 
    position:       relative; 
    cursor:         crosshair;
    float:          left;
    -webkit-user-select: none;
}
.imageCreatorToolText .textColor .hex { 
    float:          left;
    font-size:      10px;
    margin:         0 0 0 5px;
}
.imageCreatorToolText .textColor .color { 
    width:          10px;
    height:         10px;
    float:          left;
    border-radius:  10px;
    border:         1px solid #8b8b8b;
}
.imageCreatorToolText.moduleDisabled .color,
.imageCreatorToolText.moduleDisabled .hex {
    display:        none;
}
.imageCreatorToolText.moduleDisabled .textColor .track {
    opacity:        0.5;
}

/* Rotate */
.imageCreatorToolText .textRotate .track { 
    background:     transparent url(../images/text-rotate-track.png) no-repeat 0 0; 
    height:         83px; 
    width:          83px; 
    position:       relative; 
}
.imageCreatorToolText .textRotate .thumb { 
    background:     transparent url(../images/text-zoom-thumb.png) no-repeat 50% 50%; 
    height:         31px; 
    width:          31px; 
    position:       absolute; 
    margin:         -15px 0 0 -15px; 
    top:            8px; 
    left:           42px; 
    cursor:         pointer; 
}
.imageCreatorToolText .textRotate .degrees{ 
    font-size:      10px; 
    position:       absolute;
    left:           50%; 
    top:            50%; 
    width:          20px; 
    line-height:    14px; 
    text-align:     center; 
    margin:         -7px 0 0 -10px;
}

/* Font family */
.imageCreatorToolText .selectTextFont {
    width:          65%;
    float:          left;
    height:         22px;
    line-height:    22px;
    margin:         0 5% 0 0;
}

/* Font weight */
.imageCreatorToolText .buttonTextWeight {
    float:          left;
    font-weight:    bold;
    margin:         0 5% 0 0;
}

/* Font style */
.imageCreatorToolText .buttonTextStyle {
    float:          left;
    margin:         0;
    font-style:     italic;
}

/* Text */
.imageCreatorToolText .areaTextEdit {
    min-height:     128px;
    width:          167px;
    margin:         0;
}

.imageCreatorToolText .buttonTextAdd {
    margin:         0;
    display:        block;
}
