/*********************** TOOL : IMAGE ***********************/

/* Create */
.imageCreatorToolImage .imageCreate .inputImageUpload {
    margin:         0 0 20px;
    font:           11px Arial, Helvetica, sans-serif;
    width:          100%;
}
.imageCreatorToolImage .buttonImageAdd {
    margin:         0;
    display:        block;
}

.imageCreatorToolImage .buttonImageUpload {
    margin:         0;
    display:        block;
}

.imageCreatorToolImage #iframeImageUpload {
    width:          0;
    height:         0;
    border:         0;
    position:       absolute;
}
.imageCreatorToolImage .message{
    background-color: #ccc;
    margin:         0 0 10px;
    display:        none;
    padding:        10px;
}
.imageCreatorToolImage.moduleDisabled .imageCreate {
  -ms-filter:       "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter:           alpha(opacity=100);
  -moz-opacity:     1.0;
  -khtml-opacity:   1.0;
  opacity:          1.0;
}

/* Zoom */
.imageCreatorToolImage .imageZoom .track { 
    background:     #cdcdcd; 
    height:         4px;
    width:          140px;
    margin:         0 0 5px; 
    border-radius:  5px;
    border:         1px solid #aeaeae;
    border-top:     1px solid #747474;
    position:       relative; 
}
.imageCreatorToolImage .imageZoom .thumb { 
    background:     transparent url(../images/image-zoom-thumb.png) no-repeat 0 0; 
    height:         10px; 
    width:          10px; 
    position:       absolute; 
    left:           0; 
    top:            -4px; 
    cursor:         pointer; 
}
.imageCreatorToolImage .imageZoom .indicator {
    font-size:      10px; 
    float:          right; 
    margin:         -3px 0 0;
}

/* Rotate */
.imageCreatorToolImage .imageRotate .track { 
    background:     transparent url(../images/image-rotate-track.png) no-repeat 0 0; 
    height:         83px; 
    width:          83px; 
    position:       relative; 
}
.imageCreatorToolImage .imageRotate .thumb { 
    background:     transparent url(../images/image-zoom-thumb.png) no-repeat 0 0; 
    height:         10px; 
    width:          10px; 
    position:       absolute; 
    margin:         -5px 0 0 -5px; 
    top:            8px; 
    left:           42px; 
    cursor:         pointer; 
}
.imageCreatorToolImage .imageRotate .degrees{ 
    font-size:      10px; 
    position:       absolute;
    left:           50%; 
    top:            50%; 
    width:          20px; 
    line-height:    14px; 
    text-align:     center; 
    margin:         -7px 0 0 -10px;
}