/*********************** TOOL : BASE ***********************/

.imageCreatorTool {
    font:               12px Arial, Helvetica, sans-serif;
    width:              196px;
    position:           relative;
}

/* Header */
.imageCreatorTool h2 {
    background-color:   #454545;
    font-size:          11px;
    margin:             0;
    color:              #c9c9c9;
    line-height:        20px;
    font-weight:        normal;
    text-indent:        10px;
    border:             1px solid #282828;
    border-radius:      5px 5px 0 0;
    text-transform:     uppercase;
    height:             11px;
    text-indent:        -9999em;
    overflow:           hidden;
    padding:            0;
    display: none;
}

/* Menu */
.imageCreatorTool .moduleMenu {
    height:             21px;
    background-color:   #8d8d8d;
    list-style:         none;
    margin:             0;
    padding:            0;
    border:             1px solid #282828;
}
.imageCreatorTool .moduleMenu a {
    height:             16px;
    background:         #818181;
    border-right:       1px solid #5d5d5d;
    display:            block;
    padding:            5px 7px 0;
    color:              #000;
    text-decoration:    none;
    text-transform:     uppercase;
    font-size:          11px;
    white-space:        nowrap;
    min-width:          5px;
    width:              auto !important;
    width:              5px;
}
.imageCreatorTool .moduleMenu li {
    float:              left;
}
.imageCreatorTool .moduleMenu .tabActive {
    height:             17px;
    background:         #dbdbdb;
    border-bottom:      0;
}
.imageCreatorTool .moduleMenu .toRight {
    float:              right;
}
.imageCreatorTool .moduleMenu .toRight a
{
    border-left:        1px solid #5d5d5d;
    border-right:       0;
}

/* Body */
.imageCreatorTool .moduleBody {
    padding:            10px;
    border:             1px solid #282828;
    border-width:       0 1px 1px;
    background-color:   #dbdbdb;
}

.imageCreatorTool .moduleTab{
    display:            none;
    zoom:               1;
}
.imageCreatorTool .moduleTab:after {
    visibility:         hidden;
    display:            block;
    font-size:          0;
    content:            " ";
    clear:              both;
    height:             0;
}
.imageCreatorTool .moduleTab.tabActive
{
    display:            block;
}


.imageCreatorTool h3 {
    color:#000;
    text-transform: uppercase;
    font-size:11px;
    line-height: 12px;
    font-weight: normal;
    margin: 0 0 10px;
    text-align: left;
}

.imageCreatorTool form { padding: 0; margin: 0; }

.imageCreatorTool .moduleSub {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #909090;
    position: relative;
    zoom: 1;
    -webkit-user-select: none;
}

.imageCreatorTool .moduleSub:last-child {
    margin-bottom: 0;
    border-bottom: 0;
}

.imageCreatorTool .moduleSub:after {
    visibility:         hidden;
    display:            block;
    font-size:          0;
    content:            " ";
    clear:              both;
    height:             0;
}

.imageCreatorTool.moduleDisabled .moduleSub
{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
    -moz-opacity: 0.2;
    -khtml-opacity: 0.2;
    opacity: 0.2;
}
.imageCreatorTool.moduleDisabled .thumb
{
    display: none;
}
.imageCreatorTool .moduleSub label { display: block; margin: 0 0 10px;}
.imageCreatorTool .moduleSub label:last-child { margin: 0; }

