/*********************** TOOL : Filters ***********************/

.buttonImageAdd {
    background:     transparent url(../images/icon-image.png) no-repeat 50% 50%;
    height: 50px;
    width: 50px;
    display: block;
    float: left;
}

.imageCreatorUIFilters.moduleDisabled {
    display: none;
}

/* Filter opacity */
.imageCreatorUIFilters .filtersStrength .track {
    background:     #cdcdcd;
    height:         4px;
    width:          140px;
    margin:         0 0 5px;
    border-radius:  5px;
    border:         1px solid #aeaeae;
    border-top:     1px solid #747474;
    position:       relative;
    -webkit-user-select: none;
    float:          left;
}
.imageCreatorUIFilters .filtersStrength .thumb {
    background:     transparent url(../images/image-zoom-thumb.png) no-repeat 50% 50%;
    height:         40px;
    width:          40px;
    position:       absolute;
    left:           0;
    top:            -4px;
    cursor:         pointer;
    margin:         -15px 0 0 -15px;
}
.imageCreatorUIFilters .filtersStrength .indicator {
    font-size: 10px;
    float: left;
    margin: -3px 0 0 5px;
}

