/*********************** TOOL : IMAGE ***********************/

.buttonImageAdd {
    background:     transparent url(../images/icon-image.png) no-repeat 50% 50%;
    height: 50px;
    width: 50px;
    display: block;
    float: left;
}

.imageCreatorUILibrary.moduleDisabled {
    display: none;
}

/* Create */
.imageCreatorUILibrary .imageCreate .inputImageUpload {
    margin:         0 0 20px;
    font:           11px Arial, Helvetica, sans-serif;
    width:          100%;
}
.imageCreatorUILibrary .buttonImageAdd {
    margin:         0;
    display:        block;
}

.imageCreatorUILibrary .buttonImageUpload {
    margin:         0;
    display:        block;
}

.imageCreatorUILibrary #iframeImageUpload {
    width:          0;
    height:         0;
    border:         0;
    position:       absolute;
}
.imageCreatorUILibrary .message{
    background-color: #ccc;
    margin:         0 0 10px;
    display:        none;
    padding:        10px;
}

/* Clipart */
.imageCreatorUILibrary .imageDecorationsList {
    padding: 0;
    margin: 0;
    list-style: none;
}

.imageCreatorUILibrary .imageDecorationsList li {
    list-style: none;
    float: left;
    width: 47px;
    height: 50px;
    border: 2px solid #ccc;
    margin: 0 2px 2px 0;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.imageCreatorUILibrary .imageDecorationsList li:hover {
    background-color: #ccc;
}

.imageCreatorUILibrary .imageDecorationsList img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 40px;
    margin: -20px 0 0 -20px;
}

/* Backgrounds */
.imageCreatorUILibrary .imageBackgroundsList {
    padding: 0;
    margin: 0;
    list-style: none;
}

.imageCreatorUILibrary .imageBackgroundsList li {
    list-style: none;
    float: left;
    margin: 0 3px 3px 3px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}