/*********************** TOOL : TEXT ***********************/

.buttonTextAdd {
        background:     transparent url(../images/icon-text.png) no-repeat 50% 50%;
        height: 50px;
        width: 50px;
        display: block;
        float: left;
}

.imageCreatorUIText.moduleDisabled {
    display: none;
}

/* Color */
.imageCreatorUIText .textColor .track {
    background:     transparent url(../images/text-color.png) no-repeat 0 0;
    height:         83px;
    width:          83px;
    position:       relative;
    cursor:         crosshair;
    float:          left;
    -webkit-user-select: none;
}
.imageCreatorUIText .textColor .hex {
    float:          left;
    font-size:      10px;
    margin:         0 0 0 5px;
    line-height:    13px;
}
.imageCreatorUIText .textColor .color {
    width:          10px;
    height:         10px;
    float:          left;
    border-radius:  10px;
    padding:        1px;
    border:         1px solid #8b8b8b;
}
.imageCreatorUIText .textColor .colorInner {
    width:          10px;
    height:         10px;
    border-radius:  10px;
}

.imageCreatorUIText.moduleDisabled .color,
.imageCreatorUIText.moduleDisabled .hex {
    display:        none;
}
.imageCreatorUIText.moduleDisabled .textColor .track {
    opacity:        0.5;
}

/* Font family */
.imageCreatorUIText .textFontSelect {
    width:          65%;
    float:          left;
    height:         22px;
    line-height:    22px;
    margin:         0 5% 0 0;
}

/* Font weight */
.imageCreatorUIText .textWeightBtn {
    float:          left;
    font-weight:    bold;
    margin:         0 5% 0 0;
}

/* Font style */
.imageCreatorUIText .textStyleBtn {
    float:          left;
    margin:         0;
    font-style:     italic;
}