/*********************** UI : Dimensions ***********************/

.imageCreatorUIDimensions .dimensionsScale
{
    .track {
        background:     #ccc;
        height:         4px;
        width:          140px;
        margin:         0 0 5px;
        position:       relative;
        float:          left;
        @include border-radius( 5px );
        @include user-select( none );
    }


    &:hover .track {
        background:     #2ba6cb;
    }

    .thumb {
        background:     transparent url(../images/text-zoom-thumb.png) no-repeat 50% 50%;
        height:         40px;
        width:          40px;
        position:       absolute;
        left:           0;
        top:            -4px;
        cursor:         pointer;
        margin:         -15px 0 0 -15px;
    }

    .indicator {
        font-size:      10px;
        float:          left;
        margin:         -3px 0 0 5px;
    }
}

.imageCreatorUIDimensions .dimensionsRotate
{
    .track {
        background:     transparent url(../images/text-rotate-track.png) no-repeat 0 0;
        height:         83px;
        width:          83px;
        position:       relative;
    }

    &:hover .track {
        background:     transparent url(../images/text-rotate-track-hover.png) no-repeat 0 0;
    }

    .thumb {
        background:     transparent url(../images/text-zoom-thumb.png) no-repeat 50% 50%;
        height:         31px;
        width:          31px;
        position:       absolute;
        margin:         -15px 0 0 -15px;
        top:            5px;
        left:           41px;
        cursor:         pointer;
    }

    .degrees{
        font-size:      10px;
        position:       absolute;
        left:           50%;
        top:            50%;
        width:          20px;
        line-height:    14px;
        text-align:     center;
        margin:         -7px 0 0 -10px;
    }
}
