/*********************** TOOL : Filters ***********************/

.imageCreatorUIEffects.moduleDisabled {
    display: none;
}

.imageCreatorUIEffects .filterType {

    border: 0;

   .filterTypeList {
        width: 100%;
   }
}

.imageCreatorUIEffects .maskType {

    border: 0;

   .maskTypeList {
        width: 100%;
   }
}

.imageCreatorUIEffects .filterStrength {

    &.disabled
    {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
        filter: alpha(opacity=20);
        -moz-opacity: 0.2;
        -khtml-opacity: 0.2;
        opacity: 0.2;
    }

    &.disabled .thumb
    {
        display: none;
    }

    .track {
        background:     #ccc;
        height:         4px;
        width:          140px;
        margin:         0 0 5px;
        position:       relative;
        float:          left;
        @include border-radius( 5px );
        @include user-select( none );
    }

    &:hover .track {
        background:     #2ba6cb;
    }

    .thumb {
        background:     transparent url(../images/text-zoom-thumb.png) no-repeat 50% 50%;
        height:         40px;
        width:          40px;
        position:       absolute;
        left:           0;
        top:            -4px;
        cursor:         pointer;
        margin:         -15px 0 0 -15px;
    }

    .indicator {
        font-size: 10px;
        float: left;
        margin: -3px 0 0 5px;
    }
}
