/*********************** TOOL : INFO ***********************/

.imageCreatorUIInfo .objectPosition {
    margin:         0 0 10px;
    padding:        0 0 10px;
    border-right:   1px solid #ccc;
    width:          50%;
    float:          left;
}
.imageCreatorUIInfo .objectRotation {
    padding:        0 0 10px 8%;
    width:          50%;
    margin:         0 0 0 -1px;
    float:          left;
}
.imageCreatorUIInfo .objectName {
    text-overflow:  ellipsis;
    overflow:       hidden;
    white-space:    nowrap;
}

@media #{"only screen and (max-width:"#{$medium-screen}")"} {

    .imageCreatorUIInfo {
        position: fixed;
        right: -190px;
        top: 0;
        z-index: 1000;

        .moduleMenu {
            position: absolute;
            left: -32px;
            top: 20px;

            @include rotate(270deg);
        }

        .moduleBody {
            border-width: 1px;
            height: 100%;
        }
    }
}