/*********************** UI : LAYERS ***********************/

.imageCreatorUILayers .layersContainer {
    list-style:         none;
    padding:            0;
    border:             0;
    margin:             0 0 10px;
    border-top:         1px solid #909090;
}

.imageCreatorUILayers .layer {
    height:             28px;
    border-bottom:      1px solid #909090;
    cursor:             pointer;
    position:           relative;

    &.active {
        background-color: #b5d5ff;
    }

    .layerToggle {
        height:             16px;
        width:              16px;
        text-indent:        -9999em;
        overflow:           hidden;
        display:            block;
        margin:             5px 3px 0;
        float:              left;
        border-top:         1px solid #909090;
        border-left:        1px solid #909090;
        border-bottom:      1px solid #e4e4e4;
        border-right:       1px solid #e4e4e4;
        background:         url("../images/layers-eye.png") no-repeat 50% 50%;
    }

    &.hide .layerToggle {
        background: transparent none;
    }

    .layerRemove {
        position: absolute;
        right: 0;
        top: 3px;
        display: none;
    }

    &:hover .layerRemove{
        display: block;
    }

    .layerName {
        line-height:        28px;
        text-overflow:      ellipsis;
        display:            inline-block;
        width:              105px;
        overflow:           hidden;
        white-space:        nowrap;
    }

    .layerThumbContainer {
        float:              left;
        width:              30px;
        height:             20px;
        border:             1px solid #000;
        margin:             3px 3px 0;
        background-color:   #fff;
        overflow:           hidden;
        position:           relative;
    }

    .layerThumbContainer img {
        height:             20px;
        display:            block;
        position:           absolute;
        top:                0;
        left:               0;
    }
}

.imageCreatorUILayers .buttonImageSave {
    width: 147px;
}

.imageCreatorUILayers .emptyMessage {
    font-size: 12px;
}
