/*********************** UI : LAYERS ***********************/

.imageCreatorUILayers .layersContainer {
    list-style:         none;
    padding:            0;
    border:             0;
    margin:             0 -10px 10px;

}

.imageCreatorUILayers .layer {
    height:             35px;
    border-bottom:      1px solid #ccc;
    cursor:             pointer;
    position:           relative;
    padding: 0 10px;

    &.active {
        background-color: #d5d5d5;
    }

    &:last-child {
        border: 0;
    }

    .layerToggle {
        height:             16px;
        width:              16px;
        text-indent:        -9999em;
        overflow:           hidden;
        display:            block;
        margin:             9px 3px 0;
        float:              left;
        border-top:         1px solid #909090;
        border-left:        1px solid #909090;
        border-bottom:      1px solid #e4e4e4;
        border-right:       1px solid #e4e4e4;
        background:         url("../images/layers-eye.png") no-repeat 50% 50%;
    }

    &.hideLayer .layerToggle {
        background: transparent none;
    }

    .layerRemove {
        position: absolute;
        right: 10px;
        top: 8px;
        display: none;
    }

    &:hover .layerRemove{
        display: block;
    }

    .layerName {
        line-height:        35px;
        text-overflow:      ellipsis;
        display:            inline-block;
        width:              103px;
        overflow:           hidden;
        white-space:        nowrap;
    }

    .layerThumbContainer {
        float:              left;
        width:              30px;
        height:             27px;
        border:             1px solid #000;
        margin:             3px 5px 0;
        background-color:   #fff;
        overflow:           hidden;
        position:           relative;
    }

    .layerThumbContainer img {
        height:             24px;
        display:            block;
        position:           absolute;
        top:                0;
        left:               0;
    }
}

.imageCreatorUILayers .emptyMessage {
    font-size: 12px;
}

@media #{"only screen and (max-width:"#{$medium-screen}")"} {

    .imageCreatorUILayers {
        position: fixed;
        right: -190px;
        top: 205px;
        height: 90%;

        .moduleMenu {
            position: absolute;
            left: -40px;
            top: 37px;

            @include rotate(270deg);

            li {
                display: none;
            }

            li:first-child {
                display: block;
            }
        }

        .moduleBody {
            border-width: 1px;
            height: 100%;
        }

        .layer {
            .layerToggle {
                display: none;
            }
        }
    }
}


