/*********************** UI : SELECTION ***********************/
.imageCreatorSelection
{
    position: absolute;
    z-index: 1000;
    display: none;
    pointer-events: none;
}

.imageCreatorSelection.editing .grip {
    display: none;
}

.imageCreatorSelectionTextEdit {
    box-shadow: none;
    position: absolute;
    resize: none;
    overflow: hidden;
    background: rgba(204,204,204,0.5);
    border: 0px solid transparent;
    margin: 0;
    padding: 0;
    outline: none;
    cursor: text;
    z-index: 1000;
    display: none;
    zoom: 1;
    @include border-radius(0);
    white-space: pre-wrap;
    word-wrap: break-word;
    min-height: 0;
    -webkit-appearance:none;
}

.grip {
    width: 32px;
    height: 32px;
    position:  absolute;
    pointer-events: all;

    i {
        width: 30px;
        @include border-radius( 16px );
        height: 30px;
        text-align: center;
        line-height: 30px;
        display: block;
        background: #efefef;
        color: #ccc;
        border: 1px solid #ccc;
        text-shadow: 1px 1px 0 #999;
    }
}

.gripScale {
    left: 100%;
    margin: -15px 0 0 -15px;
    top:100%;
}

.gripRemove {
    left: 100%;
    margin: -15px 0 0 -15px;
    top:0;
}

.gripRotate {
    left: 0%;
    top: 100%;
    margin: -15px 0 0 -15px;
    cursor: url('../images/cursor-rotate.cur'), auto;
}

.cursorRotate {
    cursor: url('../images/cursor-rotate.cur'), auto !important;
}

