/*********************** UI : TEXT ***********************/

.buttonTextAdd {
        background:     transparent url(../images/icon-text.png) no-repeat 50% 50%;
        height: 50px;
        width: 50px;
        display: block;
        float: left;
}

.imageCreatorUIText.moduleDisabled {
    display: none;
}

/* Color */
.imageCreatorUIText .textColor
{
    .track {
        background:     transparent url(../images/text-color.png) no-repeat 0 0;
        height:         83px;
        width:          83px;
        position:       relative;
        cursor:         crosshair;
        float:          left;
        @include user-select( none );
    }

    .hex {
        float:          left;
        font-size:      10px;
        margin:         0 0 0 5px;
        line-height:    13px;
    }

    .color {
        width:          10px;
        height:         10px;
        float:          left;
        padding:        1px;
        border:         1px solid #8b8b8b;
        @include border-radius( 10px );
    }

    .colorInner {
        width:          10px;
        height:         10px;
        @include border-radius( 10px );
    }
}

.imageCreatorUIText.moduleDisabled .color,
.imageCreatorUIText.moduleDisabled .hex {
    display:        none;
}
.imageCreatorUIText.moduleDisabled .textColor .track {
    opacity:        0.5;
}

/* Font family */
.imageCreatorUIText .textFontSelect {
    width:          100%;
    float:          left;
    height:         22px;
    line-height:    22px;
    margin:         0 5% 5% 0;
}

/* Font weight */
.imageCreatorUIText .textWeightBtn {
    float:          right;
    font-weight:    bold;
       width: 12px;
    margin:         0 0 0 5%;
}

/* Font style */
.imageCreatorUIText .textStyleBtn {
    float:          right;
    font-family: "Georgia";
       width: 12px;
    margin:         0 0 0 5%;
    font-style:     italic;
}

.imageCreatorUIText .textAlignLeftBtn,
.imageCreatorUIText .textAlignCenterBtn,
.imageCreatorUIText .textAlignRightBtn {
    float: left;
    margin:  0 5% 0 0;
}

.imageCreatorUIText .textAlignLeftBtn span{
    height: 20px;
        display: block;
        width: 12px;
    background: transparent url(../images/icon-text-align-left.png) no-repeat 50% 50%;
}
.imageCreatorUIText .textAlignCenterBtn span{
    height: 20px;
    display: block;
            width: 12px;
    background: transparent url(../images/icon-text-align-center.png) no-repeat 50% 50%;
}

.imageCreatorUIText .textAlignRightBtn span{
    height: 20px;
    display: block;
            width: 12px;
    background: transparent url(../images/icon-text-align-right.png) no-repeat 50% 50%;
}
