@import "settings";

/* font-face */
@include face;

/* global foundicon styles */
[class*="#{$classPrefix}"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}
[class*="#{$classPrefix}"]:before {
  font-family: $fontName;
  font-weight: normal;

  font-style: normal;
  text-decoration: inherit;
}

/* icons */
@include i-class(move,"074");
@include i-class(music,"073");
@include i-class(network,"072");
@include i-class(off,"071");
@include i-class(ok,"070");
@include i-class(ok-circle,"06f");
@include i-class(ok-sign,"06e");
@include i-class(paper-clip,"06d");
@include i-class(paper-clip-alt,"06c");
@include i-class(path,"06b");
@include i-class(plus-sign,"059");
@include i-class(print,"058");
@include i-class(qrcode,"057");
@include i-class(question,"056");
@include i-class(question-sign,"055");
@include i-class(quotes,"054");
@include i-class(quotes-alt,"053");
@include i-class(random,"052");
@include i-class(record,"051");
@include i-class(reddit,"050");
@include i-class(refresh,"04f");
@include i-class(screenshot,"03f");
@include i-class(search,"03e");
@include i-class(search-alt,"03d");
@include i-class(share,"03c");
@include i-class(share-alt,"03b");
@include i-class(shopping-cart,"03a");
@include i-class(shopping-cart-sign,"039");
@include i-class(signal, "038");
@include i-class(skype, "037");
@include i-class(slideshare, "036");
@include i-class(smiley, "035");
@include i-class(th-large, "023");
@include i-class(th-list, "022");
@include i-class(thumbs-down, "021");
@include i-class(thumbs-up, "020");
@include i-class(time, "01f");
@include i-class(time-alt, "01e");
@include i-class(tint, "01d");
@include i-class(torso, "01c");
@include i-class(trash, "01b");
@include i-class(trash-alt, "01a");
@include i-class(tumblr, "019");
@include i-class(w3c, "00a");
@include i-class(warning-sign, "009");
@include i-class(website, "008");
@include i-class(website-alt, "007");
@include i-class(wheelchair, "006");
@include i-class(wordpress, "005");
@include i-class(wrench, "004");
@include i-class(wrench-alt, "003");
@include i-class(youtube, "002");
@include i-class(zoom-in, "001");
@include i-class(zoom-out, "000");
@include i-class(pause-alt, "069");
@include i-class(pencil, "068");
@include i-class(pencil-alt, "067");
@include i-class(person, "066");
@include i-class(phone, "065");
@include i-class(phone-alt, "064");
@include i-class(photo, "063");
@include i-class(photo-alt, "062");
@include i-class(picasa, "061");
@include i-class(picture, "060");
@include i-class(pinterest, "05f");
@include i-class(plane, "05e");
@include i-class(play-alt, "05c");
@include i-class(play-circle, "05b");
@include i-class(plus, "05a");
@include i-class(remove, "04e");
@include i-class(remove-circle, "04d");
@include i-class(remove-sign, "04c");
@include i-class(repeat, "04b");
@include i-class(repeat-alt, "04a");
@include i-class(resize-full, "049");
@include i-class(resize-horizontal, "048");
@include i-class(resize-small, "047");
@include i-class(resize-vertical, "046");
@include i-class(retweet, "045");
@include i-class(reverse-alt, "044");
@include i-class(road, "043");
@include i-class(rss, "042");
@include i-class(screen, "041");
@include i-class(screen-alt, "040");
@include i-class(smiley-alt, "034");
@include i-class(speaker, "033");
@include i-class(stackoverflow, "032");
@include i-class(star, "031");
@include i-class(star-alt, "030");
@include i-class(star-empty, "02f");
@include i-class(stop, "11b");
@include i-class(stop-alt, "02b");
@include i-class(stumbleupon, "02a");
@include i-class(tag, "029");
@include i-class(tags, "028");
@include i-class(tasks, "027");
@include i-class(text-height, "026");
@include i-class(text-width, "025");
@include i-class(th, "024");
@include i-class(twitter, "018");
@include i-class(universal-access, "017");
@include i-class(unlock, "016");
@include i-class(unlock-alt, "015");
@include i-class(upload, "014");
@include i-class(user, "013");
@include i-class(video, "012");
@include i-class(video-alt, "011");
@include i-class(video-chat, "010");
@include i-class(view-mode, "00f");
@include i-class(vimeo, "00e");
@include i-class(vkontakte, "10e");
@include i-class(volume-down, "00d");
@include i-class(volume-off, "00c");
@include i-class(volume-up, "00b");
@include i-class(backward, "0ab");
@include i-class(fast-backward, "09a");
@include i-class(fast-forward, "099");
@include i-class(forward, "093");
@include i-class(play, "05d");
@include i-class(step-backward, "02e");
@include i-class(step-forward, "02d");
@include i-class(briefcase, "10d");
@include i-class(bullhorn, "10c");
@include i-class(calendar, "10b");
@include i-class(calendar-sign, "10a");
@include i-class(address-book, "0dd");
@include i-class(address-book-alt, "0dc");
@include i-class(adjust, "0db");
@include i-class(adult, "0da");
@include i-class(align-center, "0d9");
@include i-class(align-justify, "0d8");
@include i-class(align-left, "0d7");
@include i-class(align-right, "0d6");
@include i-class(arrow-down, "0d5");
@include i-class(arrow-left, "0d4");
@include i-class(arrow-right, "0af");
@include i-class(arrow-up, "0ae");
@include i-class(asl, "0ad");
@include i-class(asterisk, "0ac");
@include i-class(ban-circle, "0aa");
@include i-class(barcode, "0d3");
@include i-class(behance, "0d2");
@include i-class(bell, "0d1");
@include i-class(blind, "0d0");
@include i-class(blogger, "0cf");
@include i-class(bold, "0ce");
@include i-class(book, "0f5");
@include i-class(bookmark, "0f4");
@include i-class(bookmark-empty, "0f3");
@include i-class(braille, "0f2");
@include i-class(camera, "0a9");
@include i-class(cc, "0a8");
@include i-class(certificate, "0a7");
@include i-class(check, "0a6");
@include i-class(check-empty, "0a5");
@include i-class(chevron-down, "0a4");
@include i-class(chevron-left, "0cd");
@include i-class(chevron-right, "0cc");
@include i-class(chevron-up, "0cb");
@include i-class(child, "0ca");
@include i-class(circle-arrow-down, "0c9");
@include i-class(circle-arrow-left, "0c8");
@include i-class(circle-arrow-right, "0f1");
@include i-class(circle-arrow-up, "0f0");
@include i-class(cloud, "0ef");
@include i-class(cloud-alt, "0ee");
@include i-class(cog, "109");
@include i-class(cog-alt, "108");
@include i-class(cogs, "107");
@include i-class(comment, "106");
@include i-class(comment-alt, "0a3");
@include i-class(compass, "0a2");
@include i-class(compass-alt, "0a1");
@include i-class(credit-card, "0a0");
@include i-class(css, "09f");
@include i-class(dashboard, "09e");
@include i-class(delicious, "0c7");
@include i-class(deviantart, "0c6");
@include i-class(digg, "0c5");
@include i-class(download, "0c4");
@include i-class(download-alt, "0c3");
@include i-class(dribble, "0c2");
@include i-class(edit, "0ed");
@include i-class(eject, "0ec");
@include i-class(envelope, "0eb");
@include i-class(envelope-alt, "0ea");
@include i-class(error, "105");
@include i-class(error-alt, "104");
@include i-class(exclamation-sign, "103");
@include i-class(eye-close, "102");
@include i-class(eye-open, "09d");
@include i-class(facebook, "09c");
@include i-class(facetime-video, "09b");
@include i-class(female, "098");
@include i-class(file, "0c1");
@include i-class(file-alt, "0c0");
@include i-class(file-edit, "0bf");
@include i-class(file-edit-alt, "0be");
@include i-class(file-new, "0bd");
@include i-class(file-new-alt, "0bc");
@include i-class(film, "0e9");
@include i-class(filter, "0e8");
@include i-class(fire, "0e7");
@include i-class(flag, "0e6");
@include i-class(flag-alt, "101");
@include i-class(flickr, "100");
@include i-class(folder, "0ff");
@include i-class(folder-close, "0fe");
@include i-class(folder-open, "097");
@include i-class(folder-sign, "096");
@include i-class(font, "095");
@include i-class(fontsize, "094");
@include i-class(forward-alt, "092");
@include i-class(foursquare, "0bb");
@include i-class(friendfeed, "0ba");
@include i-class(friendfeed-rect, "0b9");
@include i-class(fullscreen, "0b8");
@include i-class(gift, "0b7");
@include i-class(github, "0b6");
@include i-class(github-text, "0e5");
@include i-class(glass, "0e4");
@include i-class(glasses, "0e3");
@include i-class(globe, "0e2");
@include i-class(globe-alt, "0fd");
@include i-class(googleplus, "0fc");
@include i-class(graph, "0fb");
@include i-class(graph-alt, "0fa");
@include i-class(group, "091");
@include i-class(group-alt, "090");
@include i-class(guidedog, "08f");
@include i-class(hand-down, "08e");
@include i-class(hand-left, "08d");
@include i-class(hand-right, "08c");
@include i-class(hand-up, "0b5");
@include i-class(hdd, "0b4");
@include i-class(headphones, "0b3");
@include i-class(hearing-impaired, "0b2");
@include i-class(heart, "0b1");
@include i-class(heart-alt, "0b0");
@include i-class(heart-empty, "0e1");
@include i-class(home, "0e0");
@include i-class(home-alt, "0df");
@include i-class(idea, "0de");
@include i-class(idea-alt, "0f9");
@include i-class(inbox, "0f8");
@include i-class(inbox-alt,"0f7");
@include i-class(inbox-box,"0f6");
@include i-class(indent-left,"08b");
@include i-class(indent-right,"08a");
@include i-class(info-sign,"089");
@include i-class(instagram,"088");
@include i-class(iphone-home,"087");
@include i-class(italic,"086");
@include i-class(key,"085");
@include i-class(laptop,"084");
@include i-class(laptop-alt,"083");
@include i-class(leaf,"082");
@include i-class(linkedin,"081");
@include i-class(list,"080");
@include i-class(list-alt,"07f");
@include i-class(lock,"07e");
@include i-class(lock-alt,"07d");
@include i-class(magnet,"07c");
@include i-class(male,"07b");
@include i-class(map-marker,"07a");
@include i-class(map-marker-alt,"079");
@include i-class(mic,"078");
@include i-class(mic-alt,"077");
@include i-class(minus,"076");
@include i-class(minus-sign,"075");
@include i-class(pause,"06a");
@include i-class(fork,"10f");
@include i-class(broom,"110");
@include i-class(return-key,"111");
@include i-class(lastfm,"112");
@include i-class(livejournal,"113");
@include i-class(myspace,"114");
@include i-class(soundcloud,"115");
@include i-class(viadeo,"116");
@include i-class(spotify,"117");
@include i-class(caret-left,"119");
@include i-class(caret-up,"02c");
@include i-class(caret-right,"118");
@include i-class(caret-down,"11a");
